/* Existing CSS */
.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensure footer stays at the bottom */
    min-height: 100vh;
    /* Ensure it takes up full viewport height */
    background: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.uConstruction {
    background-color: #883c18;
    color: #ffffff;
    padding-bottom: 0px;
    font-size: 15px;
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.descImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 50px;
}

.uConstruction p {
    position: relative;
    animation: slideIn 5s linear infinite;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    10% {
        transform: translateY(0);
    }

    85% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.container {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #000;
}

.header {
    color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 1.5s;
    height: 130px;
    background: rgba(0, 0, 0, 1);
}

.logoTitleNav {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    margin-right: 1rem;
}

.titleNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    border-left: 1px solid #ffffff;
}

.title {
    margin: 0;
    color: #ceb780;
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    letter-spacing: 0.20em;
}

.bookingTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: medium;
}

.nav {
    display: flex;
    margin-top: 0.5rem;
}

.nav a {
    color: #ceb780;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.30em;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ceb780;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav a:first-child {
    margin-left: 0rem;
}

.main {
    flex-grow: 1;
    padding: 0;
    background: #000000;
    color: #ffffff;
}

body.scrolled .header {
    background: #000000;
}

.hero {
    background: url('/hero.png') no-repeat center bottom;
    background-size: 100% auto;
    height: 100vh;
    color: #fffffd;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem 7rem 4rem;
    animation: slideAnimation 50s infinite linear;
}

@keyframes slideAnimation {
    0% {
        background-position-y: 60%;
    }

    100% {
        background-position-y: 0;
    }
}

.heroText {
    text-align: left;
    z-index: 3;
    font-weight: 200;
    letter-spacing: 0.40em;
}

.heroSmall {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.heroLarge {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin: 0.5rem 0;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.contactInfoHeader {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 0.15rem;
    margin-top: 10px;
}

.contactInfoHeader p:first-child {
    margin-right: 10px;
}

.section {
    margin: 10rem 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
}

.descSection {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.descTitle {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
}

.rooms,
.amenities {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dining {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 200px;
}

.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

.restaurant img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}

.diningDesc1 {
    width: 400px;
    text-align: left;
}

.diningDesc2 {
    width: 600px;
    text-align: left;
}

.room,
.amenity {
    margin: 1rem;
    text-align: left;
}

.room img,
.amenity img {
    width: 100%;
    height: auto;
}

.roomContainer {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.roomImageContainer {
    flex: 1;
    max-width: 50%;
}

.roomImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.roomTextContainer {
    font-style: italic;
    flex: 1;
    margin-left: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
    font-weight: 300;
    width: 50px;
    text-align: left;
    margin-right: 50px;
}

.descTitle2 {
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.bookingBar {
    position: fixed;
    width: 100%;
    top: 130px;
    background-color: rgba(252, 251, 251, 0.5);
    padding: 1.0rem;
    box-sizing: border-box;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease, opacity 0.3s ease;
}

.bookingBar.visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    animation: slideDown 0.3s forwards;
}

.bookingBar.hidden {
    animation: slideUp 0.3s forwards;
    transition: visibility 0s 0.3s, transform 0.3s ease, opacity 0.3s ease;
}

.bookingSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
}

.datePickerContainer,
.roomTypeContainer {
    margin-bottom: 1rem;
}

.customSelect {
    position: relative;
}

.customSelect select {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #a0522d;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    outline: none;
}

.customSelect::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.customSelect select::-ms-expand {
    display: none;
}

.bookingInput {
    margin: 0.5rem;
}

.bookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.searchButton {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    padding: 4px 20px;
    border: 1px solid #4e2816;
    background-color: #000000;
    color: #ceb780;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.searchButton:hover {
    background-color: #ceb780;
    color: #1a1a1a;
}

.searchButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ceb780;
}

.footer {
    background: #141414;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footerNavCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    gap: 0.5rem;
}

.footerNavCol:nth-child(3) {
    margin-left: auto;
    flex-direction: row;
    margin-right: 30%;
    margin-top: 2%;
}

.footerNav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

.footerNav a:hover::after {
    width: 0;
    text-decoration: underline;
}

.footerNavCol a img.socialIcon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.footer p {
    margin-top: 5rem;
    text-align: center;
    color: #ceb780;
}

/* Carousel CSS */
.carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-color: #282828;
    /* Background color for the carousel container */
    padding: 20px;
    box-sizing: border-box;
}

.carouselSlide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselItem {
    min-width: 100%;
    height: 80vh;
    /* Increased height for larger images */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #ceb780;
    /* Border around the image */
}

.carouselText {
    color: #ffffff;
    /* Text color */
    font-family: 'Segoe UI', sans-serif;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carouselButton.prev {
    left: 10px;
}

.carouselButton.next {
    right: 10px;
}

.carouselButton:focus {
    outline: none;
}

.carouselIndicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carouselIndicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carouselIndicator.active {
    background-color: #fff;
}