/* Existing CSS */
.pageContainer {
    display: flex;
    justify-content: space-between;
    /* Ensure footer stays at the bottom */
    // min-height: 100vh;
    /* Ensure it takes up full viewport height */
    // background: #00ff0d;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    // flex-direction: column;
}

.uConstruction {
    background-color: #883c18;
    color: #ffffff;
    padding-bottom: 0px;
    font-size: 15px;
    z-index: 100;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.descImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    // background-color: rebeccapurple;

}

.uConstruction p {
    position: relative;
    animation: slideIn 5s linear infinite;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    10% {
        transform: translateY(0);
    }

    85% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.container {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #000;
}

.header {
    color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 1.5s;
    height: 130px;
    background: rgba(0, 0, 0, 1);
}

.header-ar {
    color: #ffffff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 1.5s;
    height: 130px;
    background: rgba(0, 0, 0, 1);
    flex-direction: row-reverse;
}

/* Default styling for nav-ar (navigation links) */
.header-ar .nav-ar {
    display: flex;
    flex-direction: row-reverse;
    /* Horizontal layout for large screens */
    gap: 20px;
}

.header-ar .nav-ar {
    transition: all 0.3s ease;
}

.langSwitcherContainer
{
    margin: auto;
    margin-bottom: 4rem;
    // margin-left: 20rem;
    margin-right: 10%;
    right: 0;
    font-family: 'Segoe UI', sans-serif;
    position: absolute;
    display: flex;
    // background-color: rebeccapurple;
}

.langSwitcherContainer-ar {
    margin: auto;
    margin-bottom: 4rem;
    position: absolute;
    margin-left: 5%;
    margin-right: 20rem;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    left: 0;

}

.langSwitcher {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.langSwitcher:hover {
    filter: brightness(0.6);
}

.langSwitcher-ar {
    display: flex;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.langSwitcher-ar:hover {
    filter: brightness(0.6);
}

.globalIcon {
    width: 1.3rem;
    height: 1.3rem;
    margin: auto;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.logoTitleNav {
    display: flex;
    align-items: center;
}

.logoTitleNav-ar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    // margin-left: 60rem;
}

.logo {
    height: 100px;
    margin-right: 1rem;
}

.logo-ar {
    height: 100px;
    margin-left: 1rem;
}

.titleNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    // background-color: rebeccapurple;
    width: 50rem;
    left: 0%;
    border-left: 1px solid #ffffff;
    cursor: default;
}

.titleNav-ar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 2rem;
    border-right: 1px solid #ffffff;
    cursor:default;
}

.title {
    margin: 0;
    color: #ceb780;
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    letter-spacing: 0.20em;
}

.title-ar {
    margin: 0;
    color: #ceb780;
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    width: auto;
    direction:rtl;
    margin-left: auto;
}

.bookingTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: medium;
}

.bookingTitle-ar {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: medium;
    text-align: right;
}

.nav {
    display: flex;
    margin-top: 0.5rem;
}

.nav-ar {
    flex-direction: row-reverse;
    display: flex;
    margin-top: 0.5rem;
    margin-left: auto;
}

.nav a {
    color: #ceb780;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.30em;
    // background-color: red;
    white-space: nowrap;

}

.nav-ar a {
    color: #ceb780;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
}



.nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ceb780;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-ar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ceb780;
    bottom: -2px;
    right: 0;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav-ar a:hover::after {
    width: 100%;
}

.nav a:first-child {
    margin-left: 0rem;
}

.main {
    flex-grow: 1;
    padding: 0;
    // background: #520000;
    color: #ffffff;
    // margin: auto;
    width: 100vw;
}

body.scrolled .header {
    background: #000000;
}

body.scrolled .header-ar {
    background: #000000;
}

.hotelDetails {
    background: url('/hero.png') no-repeat center bottom;
    background-size: 100% auto;
    height: 100vh;
    color: #fffffd;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    animation: slideAnimation 50s infinite linear;
    width: 100vw;
}

@keyframes slideAnimation {
    0% {
        background-position-y: 60%;
    }

    100% {
        background-position-y: 0;
    }
}

.hotelDetailsText {
    text-align: left;
    z-index: 3;
    font-weight: 200;
    letter-spacing: 0.40em;
    margin-right: auto;
    margin-left: 7rem;
    margin-bottom: 7rem;
}

.hotelDetailsText-ar {
    text-align: right;
    z-index: 3;
    font-weight: 200;
    // background-color: #000;
    margin-left: auto;
    margin-right: 7rem;
    margin-bottom: 7rem;
}

.hotelDetailsSmall {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.hotelDetailsLarge {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin: 0.5rem 0;
}

.hotelDetails::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.contactInfoHeader {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: 0.15rem;
    margin-top: 10px;
}

.contactInfoHeader p:first-child {
    margin-right: 10px;
}

.section {
    margin: 10rem 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
}
.sectionDinner{
        margin: 10rem 0;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 300;
        display: flex;
        justify-content: space-evenly;
}
.descSection {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.descTitle {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.6;
}

.rooms,
.amenities {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.dining {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-right: 5rem;
    margin-left: 5rem;
}

.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

.restaurant img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}

.diningDesc1 {
    width: 400px;
    text-align: left;
}

.diningDesc2 {
    width: 600px;
    text-align: left;
}

.room,
.amenity {
    margin: 1rem;
    text-align: left;
}

.room img,
.amenity img {
    width: 100%;
    height: auto;
}

.roomContainer {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.roomImageContainer {
    flex: 1;
    max-width: 50%;
}

.roomImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.roomTextContainer {
    font-style: italic;
    flex: 1;
    margin-left: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
    font-weight: 300;
    width: 50px;
    text-align: left;
    margin-right: 50px;
}

.descTitle2 {
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.bookingBar {
    position: fixed;
    width: 100%;
    top: 130px;
    background-color: rgba(252, 251, 251, 0.5);
    padding: 1.0rem;
    box-sizing: border-box;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease, opacity 0.3s ease;
}

.bookingBar.visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    animation: slideDown 0.3s forwards;
}

.bookingBar.hidden {
    animation: slideUp 0.3s forwards;
    transition: visibility 0s 0.3s, transform 0.3s ease, opacity 0.3s ease;
}

.bookingSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
}

.datePickerContainer,
.roomTypeContainer {
    margin-bottom: 1rem;
    color: #000;
}

.customSelect {
    position: relative;
}

.customSelect select {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #a0522d;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    outline: none;
}

.customSelect::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.customSelect select::-ms-expand {
    display: none;
}

.bookingInput {
    margin: 0.5rem;
}

.bookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    // background-color: rebeccapurple;
    width: 50rem;
    margin: auto;
}

.searchButton {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    padding: 4px 20px;
    border: 1px solid #4e2816;
    background-color: #000000;
    color: #ceb780;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 20%;
    box-sizing: border-box;
}

.searchButton:hover {
    background-color: #ceb780;
    color: #1a1a1a;
}

.searchButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ceb780;
}

.footer {
    background: #141414;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footerNavCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    gap: 0.5rem;
}

.footerNavCol:nth-child(3) {
    margin-left: auto;
    flex-direction: row;
    margin-right: 30%;
    margin-top: 2%;
}

.footerNav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
}

.footerNav a:hover::after {
    width: 0;
    text-decoration: underline;
}

.footerNavCol a img.socialIcon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.footer p {
    margin-top: 5rem;
    text-align: center;
    color: #ceb780;
}


.carouselContainer {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // height: 80vh;
    // overflow: hidden;
    // position: relative;
    // background-color: #282828;
    // /* Background color for the carousel container */
    // padding: 20px;
    // box-sizing: border-box;
    margin-top: 10rem;
    width: 100%;
}

.carouselSlide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carouselItem {
    min-width: 100%;
    height: 80vh;
    /* Increased height for larger images */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #ceb780;
    /* Border around the image */
}

.carouselText {
    color: #ffffff;
    /* Text color */
    font-family: 'Segoe UI', sans-serif;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carouselButton.prev {
    left: 10px;
}

.carouselButton.next {
    right: 10px;
}

.carouselButton:focus {
    outline: none;
}

.carouselIndicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carouselIndicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carouselIndicator.active {
    background-color: #fff;
}

.CheckRatesButton {
    display: none;
}

@media (max-width: 1240px) {


    .pageContainer .main
    {
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    .pageContainer .main .hotelDetailsContainer {
        height: 35rem;
        width: 100%;
        // background-color: rebeccapurple;
        margin-bottom: 10rem;
        overflow: hidden;
    }
    .pageContainer .main .hotelDetailsContainer .hotelDetails {
            background: url('/hero.png') no-repeat center bottom;
            background-size: 130% auto;
            height: 100%;
            width: auto;
            color: #fffffd;
            // position: relative;
            z-index: 1;
            // display: flex;
            // align-items: flex-end;
            // justify-content: flex-start;
            animation: none;
            // width: 100vw;
            background-position-y: 0%;
        }
        

}

/* Hide navigation links by default on mobile */
@media (max-width: 768px) {


    .pageContainer .main .hotelDetailsContainer .hotelDetails {
        background: url('/hero.png') no-repeat center bottom;
        background-size: 130% auto;
        // height: 100%;
        // width: auto;
        color: #fffffd;
        // position: relative;
        z-index: 1;
        // display: flex;
        // align-items: flex-end;
        // justify-content: flex-start;
        animation: none;
        // width: 100vw;
        background-position-y:0%;
    }

    .pageContainer .main .hotelDetailsContainer
    {
        height: 30rem;
        margin-bottom: 0rem;
        overflow: hidden;
    }
    .header{
        height: 4rem;
        background-color: rgb(17, 17, 17);
        z-index: 10;
        // overflow: hidden;
    }
    .header.active {
        height: 10rem;
        background-color: rgb(17, 17, 17);
        // z-index: 3;
    }
    .header .title {
        // display: none;
        font-size: x-large;
        font-weight: 350;
        position:absolute;
        // margin-top: -5rem;
        margin-bottom: 25rem;
        margin-top: 1rem;
    }
    .header .logoTitleNav {
        flex-direction: row-reverse;
        // display: flex;
        // align-items: center;
        // flex-direction: row-reverse;
        top: 0;
        right: 0;
        transform: translateX(100%);
        position: fixed;
        background-color: rgb(21, 21, 21);
        width: 80%;
        height: 100%;
        border-left: rgb(82, 82, 82) 0.1px solid;
        overflow: hidden;
        z-index: 10;
        transition: transform 0.3s ease;
    } 
    .header .logoTitleNav.active 
    {
        transform: translateX(0%);
    }
    .header .nav {
        // display: inline-flex;
        // justify-content: center;
        flex-direction: column;
        // background-color: red;
        margin-bottom: 5rem;
    }
    .header .nav a {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        // background-color: red;
        text-align: left;
        margin: 10px 0;
        font-size: 15px;
        color: white;
        font-weight: 300;
    }
    .header .logo {
        display: none;
    }
    .header .titleNav {
        // display: none;
        border-left:none;
        margin: auto;
        // background-color: red;
    }
    .header-ar {
        height: 4rem;
        background-color: rgb(17, 17, 17);
        z-index: 4;
        // overflow: hidden;
    }

    .header-ar.active {
        height: 10rem;
        background-color: rgb(17, 17, 17);
        // z-index: 3;
    }

    .header .title-ar {
        // display: none;
        font-size: x-large;
        font-weight: 350;
        position: absolute;
        // margin-top: -5rem;
        margin-bottom: 25rem;
        margin-top: 1rem;
    }

    .header-ar .logoTitleNav-ar {
        flex-direction: row-reverse;
        // display: flex;
        // align-items: center;
        // flex-direction: row-reverse;
        top: 0;
        right: 0;
        transform: translateX(-125%);
        position: fixed;
        background-color: rgb(21, 21, 21);
        width: 80%;
        height: 100%;
        border-right: rgb(82, 82, 82) 0.1px solid;
        overflow: hidden;
        z-index: 1;
        transition: transform 0.3s ease;
    }

    .header-ar .logoTitleNav-ar.active {
        transform: translateX(-26%);
    }

    .header-ar .nav-ar {
        // display: inline-flex;
        // justify-content: center;
        flex-direction: column;
        // background-color: red;
        margin-bottom: 5rem;
    }

    .header-ar .nav-ar a {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        // background-color: red;
        text-align: right;
        margin: 10px 0;
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    .header-ar .logo-ar {
        display: none;
    }

    .header-ar .titleNav-ar {
        // display: none;
        border-right: none;
        margin: auto;
        margin-right: 0;
        // background-color: red;
    }

    .nonFocusShader {
        // visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;
    }
    .nonFocusShader.active {
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
    }

    .pageContainer{
        /* Ensure full width */
        width: 100%;
        /* Or use 100vw if necessary */
        height: 100%;
        /* Optional: make sure it takes full viewport height */
        // background: #4f4f4f;
        color: #ffffff;
        /* If you want text color */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* Prevent horizontal scrolling if necessary */
        }

    .pageContainer .main {
        /* Increase specificity */
        flex-grow: 1;
        padding: 0;
        // background: #727272;
        color: #ffffff;
        width: 100vw;
    }

    .pageContainer .main .sectionDinner {
        margin: auto;
        display: contents;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 200;
        width: 70vw;
    }

    .diningDesc1 {
        width: 100%;
        /* Adjust width to be larger on mobile */
        padding: 10px;
        margin: 0 auto;
        /* Center the container */
    }

    .diningDesc2 {
        width: 100%;
        /* Adjust width to be larger on mobile */
        padding: 10px;
        margin: 0 auto;
        
        /* Center the container */
    }

    .hotelDetailsText {
        display: none;
    }
    .hotelDetailsText-ar {
        display: none;
    }

    .hotelDetailsMobile{
        text-align: center;
    }

    .hotelDetailsLarge
    {
        font-size: x-large;
    }
    .contactInfoHeader
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }

    .pageContainer .main .descSection {
        font-family: 'Segoe UI', sans-serif;
        width: auto;
        margin: 0 auto;
        padding: 20px;
        // background-color: rebeccapurple;
        margin-top: 80px;
        
    }
    .pageContainer .main .descTitle
    {
        font-size: x-large;
    }

    .pageContainer .main .description {
        text-align: center;
        font-size: medium;
        line-height: 1.6;
    }
    
    .hamburger {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        position: fixed;
        // z-index: 3;
        margin: auto;
        // margin-top: 0.2rem;
        top: 1.5rem;
        margin-right: 1.5rem;
        right: 0;
        margin-top: 0.1rem;
        margin-bottom: 5rem;
    }

    .hamburger-ar {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
        position: fixed;
        // z-index: 3;
        margin: auto;
        // margin-top: 0.2rem;
        top: 1.5rem;
        margin-left: 1.5rem;
        left: 0;
        margin-top: 0.1rem;
        margin-bottom: 5rem;
    }

    .hamburger .lines {
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 5px;

    }

    .hamburger-ar .lines {
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 5px;

    }

    .close-icon {
        display: flex;
        cursor: pointer;
        position: fixed;
        z-index: 3;
        top: 1.25rem;
        right: 0rem;
        margin-right: 1.5rem;
        margin-bottom: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 25px;
        height: 25px;
    }

    .close-icon-ar {
        /* Modify the styling for RTL (right-to-left) or other variations */
        position: absolute;
        top: 2rem;
        left: 1.5rem;
        /* For RTL layout, typically you'd adjust left/right */
        width: 30px;
        height: 30px;
        // background-color: #f00;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }

    .line1,
    .line2 {
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 5px;
        position: absolute;
    }

    .line1 {
        transform: rotate(45deg);
    }
    .line2 {
        transform: rotate(-45deg);
    }

    .pageContainer .header .langSwitcherContainer {
        position: relative;
        margin: auto;
        margin-top: 0rem;
        margin-left: 0rem;
        height: auto;
        font-family: 'Segoe UI', sans-serif;
        display: flex;
    
    }

    .pageContainer .header-ar .langSwitcherContainer-ar {
        margin: auto;
        margin-top: 0rem;
        margin-left: 0rem;
        height: auto;
        font-family: 'Segoe UI', sans-serif;
        display: flex;
        right: 0%;
        top: 0;
    }


    .bookingContainer {
        width: 100%;
        // display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        z-index: 11;
        top: 0%;
        text-align: center;
    }

    .bookingBar.dateActive {
        transform: translateX(0);
        /* Date selection visible */
    }

    .bookingBar.roomActive {
        transform: translateX(-100%);
        /* Room selection slides in */
    }

    .BookingButton {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 400;
        padding: 10px 20px;
        border: 1px solid #4e2816;
        background-color: #000000;
        color: #ceb780;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 80%;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buttonsForBookBar
    {
        // margin-top: 2rem;
        // position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        // bottom: 0;
        margin-bottom: 10rem;
        width: 100%;        
    }
    .bookingBar {
        z-index: 11;
        position: fixed;
        display: inline;
        width: 100%;
        //Here to make it fill all screen
        height: 100%;
        // height: auto;
        bottom: 0%;
        top: auto;
        background-color: rgba(252, 251, 251, 1);
        padding: 0rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: none;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, transform 0.3s ease, opacity 0.3s ease;
    }

    .bookingBar.visible {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        animation: slideUp 0.5s ease-out forwards;
    }

    .bookingBar.hidden {
        animation: slideDown 0.3s ease-out forwards;
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slideDown {
        from {
            transform: translateY(0);
            opacity: 1;
        }

        to {
            transform: translateY(100%);
            opacity: 0;
        }
    }
    .bookingBar .searchButton {
            font-family: 'Segoe UI', sans-serif;
            font-weight: 400;
            padding: 4px 20px;
            margin-bottom: 0;
            border: 1px solid #4e2816;
            background-color: #000000;
            color: #ceb780;
            height: 34px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            width: 100%;
            box-sizing: border-box;
        }
    .pageContainer .langSwitcher {
            display: flex;
            margin: auto;
            font-size: small;
            cursor: pointer;
            transition: filter 0.3s ease;
        }


    .langSwitcher {
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
        transition: filter 0.3s ease;
    }

    .langSwitcher:hover {
        filter: brightness(0.6);
    }

    .header .langSwitcher {
        margin-left: 3.5rem;
        margin-top: 1.5rem;
        position: absolute;
        // display: flex;
        cursor: pointer;
        // display: none;
        transition: filter 0.3s ease;
        // z-index: 1;
    }

    .langSwitcher:hover {
        filter: brightness(0.6);
    }

    .header-ar .langSwitcher-ar {
        margin-right: 2rem;
        margin-top: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;

        cursor: pointer;
        transition: filter 0.3s ease;
        /* Optional transition */
    }

    .datePickerContainer,
    .roomTypeContainer {
        color: #000;
        width: 100%;
        margin-bottom: 1rem;
        overflow-x: hidden;
        
    }

    
    .bookingTitle {
        // background-color: #cf0202;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 200;
        letter-spacing: 0.3em;
        font-size: medium;
        margin: auto;
        margin-top: 1rem;
        padding: 0px;

    }

    .bookingTitle-ar {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 400;
        font-size: medium;
        text-align: right;
    }

    .continueButton {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 400;
        padding: 10px 20px;
        border: 1px solid #4e2816;
        background-color: #000000;
        color: #ceb780;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 80%;
        margin-bottom: 5%;
        box-sizing: border-box;
    }
    .CloseWindow {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: fixed;
        right: 0;
        top: 0;
        margin-right: 1rem;
        margin-top: 0.6rem;
        text-align: center;
        width: 2rem;
        height: 2rem;
        padding: 5px 5px;
        // background-color: #f6f6f6;
    }

    .CloseWindow:hover {
        background-color: #e5e5e5;
    }
    .CheckRatesButton{
        display: flex;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 500;
        padding: 8px 20px;
        border: 1px solid #4e2816;
        background-color: #ffffff;
        color: #000000;
        width: 90%;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        box-sizing: border-box;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .CheckRatesButton:hover {
        background-color: #0a0a0a;
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .footer {
        background: #141414;
        color: #ffffff;
        text-align: center;
        padding: 1rem;
        position: relative;
        width: 100%;
    }

    .footerNav {
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footerNavCol {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
        gap: 1rem;
    }
    .footerNavCol:nth-child(2) {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10%;
        gap: 1rem;
    }

    .footerNavCol:nth-child(3) {
        margin: auto;
        padding-top: 2rem;
        border-top: 0.5px solid white;
        margin-top: 2rem;
        display: flex;
        align-items: start;
        margin-left: 10%;
        gap: 1rem;
        height: 60px;
        width: 20rem;
        // background-color: rebeccapurple;
    }

    .footerNav a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Segoe UI', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0.05em;
    }

    .footerNav a:hover::after {
        width: 0;
        text-decoration: underline;
    }

    .footerNavCol a img.socialIcon {
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;
    }

    .footer p {
        margin-top: 5rem;
        text-align: center;
        color: #ceb780;
    }
}