.roomTypeSelection {
    position: relative;
}
.roomTypeInput {
    padding: 6px 26px;
    border: 1px solid #bcbcbc;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
    width: 250px;
    font-family: "Lucida Calligraphy", "Apple Chancery", "Bradley Hand", cursive;
    font-style: italic;
}

.roomTypePopup {
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-size: small;
    letter-spacing: 0.25mm;
    font-weight: 450;
    top: 100%;
    left: 0;
    width: 500px;
    /* Increased width for larger popup */
    border: 1px solid #b7b7b7;
    background-color: #e7e7e7;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 2rem;
}

.roomContainer {
    margin-bottom: 1rem;
    background-color: #fbfbfb;
    border: 1px solid #e3e3e3;
    /* Different background color for room containers */
    padding: 1rem;
    border-radius: 0px;
    position: relative;
}

.removeRoomButton {
    background: none;
    border: none;
    color: rgb(109, 45, 5);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    cursor: pointer;
}

.removeRoomButton-ar {
    background: none;
    border: none;
    color: rgb(109, 45, 5);
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    margin-right: 400px;
    cursor: pointer;
}

.removeRoomButton:hover {
    filter: brightness(0.2);
}

.removeRoomButton-ar:hover
{
    filter: brightness(0.2);
}

.roomSelectedLabel
{
    margin: auto;
}

.roomSelectedLabel-ar {
    margin: auto;
    text-align: right;
}

.guestsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.guestsContainer-ar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    flex-direction: row-reverse
}

.guestsContainer div {
    display: flex;
    align-items: center;
}

.guestsContainer-ar div {
    display: flex;
    align-items: center;
}

.guestsContainer span {
    margin-right: 0.5rem;
}

.guestsContainer-ar span {
    margin-right: 0.5rem;
}

.guestsContainer button {
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    margin: 0 0.5rem;
}


.guestsContainer-ar button {
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
    margin: 0 0.5rem;
}


.Button {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 450;
    padding: 0rem 1rem;
    background-color: #000000;
    color: #ceb780;
    height: 34px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
    margin-left: 10px;
    box-sizing: border-box;
}

.Button:hover {
    background-color: #ceb780;
    color: #1a1a1a;
}
.Button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ceb780;
}


@media (max-width: 768px) 
{
.roomTypeInput {
        padding: 6px 26px;
        border: 1px solid #bcbcbc;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        margin: auto;
        margin-bottom: 8px;
        width: 250px;
        font-family: "Lucida Calligraphy", "Apple Chancery", "Bradley Hand", cursive;
        font-style: italic;
    }
    .roomTypePopup {
        position: relative;
        font-family: 'Segoe UI', sans-serif;
        font-size: small;
        letter-spacing: 0.25mm;
        font-weight: 450;
        top: 100%;
        left: 0;
        width: 100%;
        /* Increased width for larger popup */
        border: 1px solid #b7b7b7;
        background-color: #e7e7e7;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 2rem;
    }
    .roomContainer {
        margin-bottom: 1rem;
        background-color: #fbfbfb;
        border: 1px solid #e3e3e3;
        /* Different background color for room containers */
        // padding: 1rem;
        border-radius: 0px;
        position: relative;
    }
    .Button {
        font-family: 'Segoe UI', sans-serif;
        font-weight: 450;
        padding: 0rem 2rem;
        // background-color: transparent;
        // color: #000000;
        border-bottom: 1px solid black;
        height: 34px;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-top: 1rem;
        margin-left: 0;
        box-sizing: border-box;
    }
    .removeRoomButton {
        background: none;
        border: none;
        color: rgb(109, 45, 5);
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 8px;
        cursor: pointer;
    }

    .removeRoomButton-ar {
        background: none;
        border: none;
        color: rgb(109, 45, 5);
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        margin: auto;
        margin-right: 92%;
        cursor: pointer;
    }

    .removeRoomButton:hover {
        filter: brightness(0.2);
    }

    .removeRoomButton-ar:hover {
        filter: brightness(0.2);
    }
}