.label1
{
    justify-content: center;
}

.header {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 1.5s;
    height: 75px;
    background: rgb(0, 0, 0);
    border-bottom: rgb(82, 82, 82) solid 0.1px;
}

.logoTitleNav {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-right: 1rem;
}

.logoTitleNav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-top: 0.5rem;
    border-left: rgb(51, 51, 51) 1px solid;
    height: 3rem;
}

.nav a {
    color: #060606;
    margin-left: 2rem;
    text-decoration: none;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.30em;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ceb780;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

.nav a:first-child {
    margin-left: 0rem;
}

.bookingBar {
    position: fixed;
    width: 100%;
    top: 70px;
    background-color: rgb(197, 197, 197);
    padding: 0.7rem;
    box-sizing: border-box;
    height: 6rem;
    z-index: 2;
    // backdrop-filter: blur(10px);
    // -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 6px 10px rgba(154, 154, 154, 0.2);
    // transform: translateY(-100%);
    // opacity: 0;
    // visibility: hidden;
    transition: visibility 0s, transform 0.3s ease, opacity 0.3s ease;
}

.bookingSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
}
.bookingTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: medium;
}

.bookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.datePickerContainer,
.roomTypeContainer {
    margin-bottom: 1rem;
}

.proceedBox
{
    position: fixed;
    height: 7rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    // margin: auto;
    gap: 0.5rem;
    color: #000000;
    display: flex;
    justify-content: space-between;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, transform 0.3s ease, opacity 0.3s ease;
    // z-index: 2;
}

.proceedBox.visible {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    animation: slideDown 0.3s forwards;
}

.proceedBox.hidden {
    animation: slideUp 0.3s forwards;
    transition: visibility 0s 0.3s, transform 0.3s ease, opacity 0.3s ease;
}

.proceedBoxDescCost
{
    font-size: x-large;
    max-width: 10rem;
    min-width: 10rem;
    height: 4rem;
    margin-top: 1.5rem;
    margin-left: 72rem;
    text-align: right;
}

.proceedBoxDesc
{
    font-size: small;
    max-width: 8rem;
    min-width: 8rem;
    margin-left: 2rem;
}

.proceedBoxButtonContainer
{
    min-width: 16rem;
    max-width: 16rem;
    margin-right: 20rem;
    margin-top: 1.5rem;
}

.proceedBoxButton
{
    min-width: 15rem;
    max-width: 15rem;
    height: 3rem;
    background-color: #000000;
    color: white;
    margin-right: 10rem;
}

.proceedBoxButton:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #000000 1px solid;
}

.Container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
}

.Container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #ceb780;
    text-align: center;
    height: 50px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: xx-large;
    letter-spacing: 0.20em;
    margin-top: 70px;
    padding: 0;
}

.Container3 {
    margin-right: auto;
    margin-left: auto ;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 70rem;
    // padding-bottom: 20px;
}

.RoomsRequested
{
    // margin: auto;
    margin-top: 1rem;
    // border: 1px solid #ceb780;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    margin-bottom: 0%;    
    // font-size: medium;
}
.RoomsRequestedBoldFont
{
    font-size: x-small;
    font-weight: 500;
    letter-spacing:0.1em;
}


.RoomsRequestedNonBoldFont {
    // background-color: red;
    font-weight: 200;
    font-size: x-small;
    letter-spacing: 0.1em;
    // padding-bottom: 0.8rem;
}


.selectedRoomContainer
{
    border-bottom: 3px solid #ffffff;
    // background-color:#555;
    margin-right: 5rem;
    width: 200px;
}

.unSelectedRoomContainer {
    // background-color:#555;
    margin-right: 5rem;
    font-size: small;
    width: 200px;
}

.underlinedClick
{
    text-decoration: underline;
    cursor: pointer;
}

.line {
    width: 1200px;
    border: none;
    border-top: 1px solid #ceb780;
    margin-top: 30px;
}

.line2 {
    width: 1200px;
    border: none;
    border-top: 1px solid #ceb780;
}

.RoomsLists
{
    text-align: center;
    align-items: center;
    margin: auto;
    // background-color: #ceb780;
    width: 80rem;
}

.RoomContainer {
    margin-top: 40px;
    text-align: center;
    border: 1px solid #ceb780;
    background-color: #0e0e0e;
    display: flex;
    height: 16rem;
    z-index: 2;
    // position: relative;
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}

.PkgContainer {
    margin-top: 40px;
    text-align: center;
    border: 1px solid #ceb780;
    background-color: #0e0e0e;
    display: flex;
    height: 18rem;
    z-index: 2;
    // position: relative;
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}

.RoomCardContainerRightsideLeftHalf 
{
    // background-color: #2600ff;
    width: 100%;
    margin-left: 5rem;
}



.RoomCardContainerRightsideRightHalf
{
    // background-color: #11ff00;
    width: 13rem;
}

.roomImage {
    width: 100%;
    max-width: 28rem;
    height: auto;
    object-fit: cover;
    padding-right: 0;
    padding-left: 0;
    align-items: flex-end;
}

.roomImageContainer {
    width: 40rem;
    // max-width: 28rem;
    // height: auto;
    // object-fit: cover;
    // padding-right: 0;
    // padding-left: 0;
    // align-items: flex-end;
}

.RoomCardContainerRightside
{
    color: #ffffff;
    font-size: x-large;
    text-align: left;
    width: 100%;
    height: 100%;
    // background-color: #ef0000;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
}

.RoomTitleAndDesc
{
    width: 40rem;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: 300;
    height: 8.8rem;
    // overflow: auto;
    // background-color: rebeccapurple;
}

.RoomDescription {
    font-size: 1.4ex;
    padding-top: 1rem;
    color: #ceb780;
    text-align: left;
}

.PackageDescriptionEN{
    font-size: 1.3ex;
    padding-top: 1rem;
    color: #ceb780;
    text-align: left;
}

.packageTitle
{
    text-align: center;
}

.PackageCost
{
    width: 4rem;
    // background-color: red;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: auto;
    font-weight: 300;
}

.packageCostlabel {
    font-size: small;
}

.reserveButtonContainer
{
    width: 10rem;
    // background-color: #ff0000;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.reserveButton {
    // margin: auto;
    // margin-right: 2.2rem;
    padding: 5px 5px;
    width: 12rem;
    background-color: #ceb780;
    // border: none;
    color: #1a1a1a;
    font-size: medium;
    // cursor: pointer;
    // transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 0.1em;
}

.reserveButton:hover {
    background-color: #0e0e0e;
    color: #ceb780;
    border: 1px solid #ceb780;
}

// RoomSearch.module.scss

.viewMoreDetails
{
    text-align: left;
    margin-top: 5rem;
    width: 8rem;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}


.optionsContainer {
    display: none; // Default to hidden
    transition: opacity 0.3s ease; 
    opacity: 0; // Start with an opacity of 0
    width: 80rem;
    margin: auto;
    padding-bottom: 5rem;
}

.optionsContainer.visible {
    display: block; // Show the options container when visible
    opacity: 1; // Set opacity to 1 for visible state
    // animation: slideIn 0.2s linear;
    z-index: 1;
}

.option {
    padding: 20px; // Some padding for the options
    padding-left: 100px;
    border: 1px solid #ceb780; // Example border for options
    border-top: 0;
    height: 10rem;
    background-color: #0e0e0e;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    z-index: 5;
    text-align: left;
}

@keyframes slideIn {
    0% {
        transform: translateY(-80%);
    }

    10% {
        transform: translateY(-50);
    }

    85% {
        transform: translateY(-25);
    }

    100% {
        transform: translateY(-0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(-25);
    }

    85% {
        transform: translateY(-50);
    }

    100% {
        transform: translateY(-100%);
    }
}


.ReserveButton
{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    padding: 7px 20px;
    background-color: #ceb780;
    border: none;
    color: #1a1a1a;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    // font-family: 'Segoe UI', sans-serif;
    // letter-spacing: 0.1em;
    font-weight: 450;
    float: right;
}

.ReserveButton:hover {
    background-color: #0e0e0e;
    color: #ceb780;
    border: 1px solid #ceb780;
}

.footerContainer {
    margin-top: 20rem;
    bottom: 0;
    left: 0;
    background: #141414;
    width: 100%;
    color: #ceb780;
    text-align: center;
    z-index: 1000;
}

.optionPricingDesc
{
    font-size: 12px;
    // text-align: right;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    margin-left: 5rem;
    // background-color: red;
    width: 7rem;
}

.optionPricing
{
    font-size: x-large;
    font-weight: 600;
    // background-color: blue;

}

.optionTitle
{
    font-size: medium;
    font-weight: 400;
    letter-spacing: 0.15em;
    width: 40rem;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20rem;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    /* Light gray border */
    border-left-color: #737373;
    /* Solid black left border for the spinning effect */
    border-radius: 50%;
    /* Make it a circle */
    width: 40px;
    /* Size of the spinner */
    height: 40px;
    animation: spin 1s linear infinite;
    /* Spin animation */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
        /* Complete one full rotation */
    }
}

.spinner p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    /* Optional: style the text */
}